@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 90, 90, 90;
    --background-end-rgb: 45, 45, 45;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.wave-box {
  --mask: radial-gradient(
        31.5px at 50% calc(100% - 44.4px),
        #000 99%,
        #0000 101%
      )
      calc(100% - 48px) 0%/96px 91% repeat-x,
    radial-gradient(31.5px at 50% calc(100% + 20.4px), #0000 99%, #000 101%)
      100% 0%/96px calc(91% - 24px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
